html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: url(../img/main.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
}

.title{
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}

.subtitle{
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    text-align: center;
    font-size: 1rem;
    position: relative;
}

.text{
    font-family: 'Open Sans Condensed', sans-serif;
}

.orange{
    color: #ffa800;
}

.violet{
    color: #694fca;
}

.grey{
    color:#b0b0b0;
}

.light{
    font-weight: 200;
}

.left{
    position:absolute;
    width: 33%;
    left: 0;
    text-align: left;
}

.center{
    position:absolute;
    width: 34%;
    margin-left:33%;
}

.right{
    position: absolute;
    width: 33%;
    right: 0;
    text-align: right;
}

.bold{
    font-weight: 700;
}

.white{
    color: #ffffff;
}

.secondary-title{
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    text-align: center;
    font-size: 24px;
    position: relative;
    top: 23vh;
}

.section-title{
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    text-align: center;
    font-size: 56px;
}

.centered{
    text-align: center;
}

.title-container{
    text-align: center;
    margin-top: -20px;
}

.switcher{
    display: inline-block;
}

/*

------------------------------------- NAVIGATION

*/

nav{
    background-color: rgba(255,255,255);
    width: 100%;
    position: fixed;
    z-index: 10000;
}

#menu{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.topnav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #858585;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

ul.topnav li a:hover {
    background-color: #555;
    color: white;
}

ul.topnav li.icon {
    display: none;
}

/*

------------------------------------- MAIN

*/

#main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#logo{
    position: relative;
    margin: 0 auto;
    width: 30%;
    min-width: 120px;
    top: 15vh;
    text-align: center;
}

#logo img{
    position: relative;
    width: 30%;
    min-width: 120px;
    margin: 0 auto;
    display: inline-block;
}

#main-title{
    margin-top: 30vh;
}

#main-subtitle{
    position: relative;
    top: 20px;
}

#lower-text{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    position: relative;
    top: 60px;
}

/*

------------------------------------- BACKGROUND

*/

#about {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(../img/background-title.jpg) no-repeat center top;
    background-color: #694fca;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
}

#about-content{
    width: 50%;
    margin: 0 auto;
    padding-top: 12%;
    padding-bottom: 20px;
}

#about-text{
    color: #dddddd;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    margin: 0 auto;
}

#mouse{
    max-width: 431px;
    width: 25%;
    float: right;
}

#mouse img{
    width: 300px;
    max-width: 431px;
    width: 100%;
}

/*

------------------------------------- CODING

*/

#coding {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(../img/background-title.jpg) no-repeat center top;
    background-color: #694fca;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
}

#coding-content{
    width: 50%;
    margin: 0 auto;
    padding-top: 12%;
    padding-bottom: 20px;
}

